.menu_bar {
	display:none;
}
nav {
	background:rgba(0,0,0,1.0);
	width:100%;
	max-width: 1280px;
	margin: 0 auto;
	z-index: 1000;
}
nav ul {
	list-style:none;
	font-size: 15px;
	text-align: right;
}
nav ul li {
	display:inline-block;
	position: relative;
}
nav ul li:hover {
	background:rgba(14,127,192,1.00);
}
nav ul li a {
	color:#fff;
	display:block;
	text-decoration:none;
	padding: 13px;
	cursor: pointer;
}
nav ul li a span {
	margin-right: 10px;
}
nav ul li .sub {
	display: none;
	background:rgba(0,0,0,1.00);
	position: absolute;
	width: 150%;
	text-align: left;
	z-index: 1001;
}
nav ul li .sub li {
	display:block;
	overflow: hidden;
	border-bottom: 1px solid rgba(255,255,255,.5);
}
nav ul li .sub li a {
	display: block;
}
nav ul li .sub li a span {
	float: left;
	position: relative;
	top:3px;
	margin-right:10px;
	margin-left:0px;
}
nav ul li .caret {
	position: relative;
	top:3px;
	margin-left:10px;
	margin-right:0px;
}
@media screen and (max-width: 767px) {
	.menu_bar {
		width: 100%;
		height: 30px;
		display: block;
		position:inherit;
		top: 0px;
		background: rgba(0,0,0,1.0);
	}
	.menu_bar .bt-menu {
		display: block;
		padding: 2px;
		overflow: hidden;
		font-size: 28px;
		font-weight: bold;
		text-decoration: none;
	}
	.menu-mobile {
		cursor: pointer;
	}
	.menu_bar span {
		float: right;
		color: rgba(14,127,192,1.00);
	}
	nav {
		width: 70%;
		max-width: 220px;
		height: auto;
		max-height: calc(100% - 140px);
		position: fixed;
		right:-100%;
		margin: 0px;
		overflow: scroll;
		top: 140px;
	}
	nav ul li {
		display: block;
		border-top:1px solid rgba(255,255,255,.5);
		text-align: left;
	}
	nav ul li:hover {
		background: none;
	}
	nav ul li a {
		display: block;
	}
	.submenu {
		pointer-events: stroke;
	}
	nav ul li:hover .sub {
		display: none;
	}
	nav ul li .sub {
		width: 100%;
		position: relative;
	}
	nav ul li .sub li a {
		margin-left: 20px;
	}
	nav ul li .caret {
		float: right;
	}
}
