.container {
	margin: 0 auto;
	position: absolute;
	top: 0px;
	z-index: 10;
}
.slider-wrapper {
	width: 100%;
	max-width: 1280px;
}
.slider-wrapper .current-slide {
	display: block;
}
.slider-wrapper img {
	display: none;
	position: absolute;
	margin: 0 auto;
	max-width: 1280px;
}
@media only screen and (min-width: 1024px) {
	.slider-wrapper {
		max-width: 1024px;
	}
	.slider-wrapper img {
		max-width: 1024px;
	}
}@media only screen and (max-width: 600px) and (orientation: portrait) {

}
@media only screen and (max-height: 600px) and (orientation: landscape) {
	.container {
		margin: 0 auto;
		max-height: 40vw;
		position: absolute;
		top: 0px;
		z-index: 10;
	}
	.slider-wrapper {
		width: 100vw;
	}
	.slider-wrapper img {
		height: 39vw;
		width: 100vw;
	}
}

@media only screen and (max-width: 900px) {
}
@media only screen and (max-width: 700px) {
}
@media only screen and (max-width: 600px) {
}
@media only screen and (max-width: 450px) {
}
@media only screen and (max-width: 400px) {
}
@media only screen and (max-width: 300px) {
	#slider {
		display: none;
	}
	#texter {
		display: none;
	}
}
